@import "_vars.css";

/* menu bar */
.menu {
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;

  @media (min-width: 600px) {
    flex-flow: row nowrap;
  }

  li {
    padding: 0.5rem;
    margin: 0;
    list-style: none;
    line-height: 1;
    width: 100%;

    @media (max-width: 599px) {
      + li {
        padding-top: 0;
      }
    }

    @media (min-width: 600px) {
      width: auto;

      + li {
        padding-left: 0;
      }
    }
  }

  &__link {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 1rem;
    padding: $space-one-half $space;
    transition: background-color 0.1s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-color: $gray;
      color: $white;
    }
  }

  &__link--active {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url(../../images/icons/check_box.svg);
    /* background-position: 0 50%; */
    background-position: 0.5rem 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    border-bottom-color: $white;
    color: $black;
    padding-left: $space-double;

    &:hover {
      background-color: #fff;
      color: $black;
    }
  }
}

/* .menu {
  li + li {
    @media (max-width: 600px) {
      border-top: 1px solid $grayLight;
    }
  }
} */
/*
.menu__link {
  color: $grayMid;
  display: block;
  font-size: 1rem;
  padding: $space $space $space $space-double;
  transition: background-color 0.1s;

  @media (min-width: 600px) {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;
    color: rgba(255, 255, 255, 0.8);
    margin: 0.5rem;
    padding: $space-one-half $space;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-color: $gray;
      color: $white;
    }
  }
}
.menu__link--active {
  background-image: url(../../images/icons/check_box.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 50%;
  color: $black;
  padding-left: $space-double;
}

@media (min-width: 600px) {
  .menu__link--active {
    background-color: rgba(255, 255, 255, 0.9);
    color: $black;
    border-bottom-color: $white;
    background-position: 0.5rem 50%;

    &:hover {
      background-color: #fff;
      color: $black;
    }
  }
} */


/* mobile menu */
/* .mobile-menu {
  background-color: $aerate-blue;
  background-image: url(../../images/icons/control_point.svg);
  background-position: 15% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 2px solid transparent;
  color: $white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: $space $space-double $space $space-triple;
  text-transform: uppercase;
  width: 100%;

  &.mobile-menu--active {
    background-color: $white;
    background-image: url(../../images/icons/remove_circle.svg);
    border-color: $black;
    color: $black;
  }
}

@media (min-width: 600px) {
  .mobile-menu {
    display: none;
  }
} */
