/* Type */
$karma: 'Karma', georgia, serif;
$rubik: 'Rubik', helvetica, arial, sans-serif;
$archivo: 'Archivo', helvetica, arial, sans-serif;
$rokkitt: 'Rokkitt', georgia, serif;

$serif: $rokkitt;
$sans: $archivo;

/* colors */
$white: #fff;
$black: #000;

$gray: #a3a3a3;
$grayDark: #313131;
$grayMid: #515151;
$grayLight: #c4c4c4;
$grayLightest: #e8e8e8;

$green: #61b64b;
$greenDark: #448234;
$greenMid: #93cc84;
$greenLight: #acd8a0;
$greenLightest: #ecf6e9;
$testPass: rgb(97, 182, 75);

$red: #b64b4e;
$redDark: #823437;
$redMid: #c97c7f;
$redLight: #dba7a9;
$redLightest: #f0dadb;
$testFail: rgb(182, 75, 78);

$aerate-blue: #308ed9;
$aerate-dark: #4b4a4a;

/* widths */
$max-width: 1200px;

/* space */
$space: 1rem;
$space-double: 2rem;
$space-triple: 3rem;
$space-quadruple: 4rem;
$space-quintuple: 5rem;
$space-sextuple: 6rem;

$space-one-half: 0.5rem;
$space-one-third: 0.33rem;

$border-radius: 2px;
