/* Type */
$karma: 'Karma', georgia, serif;
$rubik: 'Rubik', helvetica, arial, sans-serif;

$serif: $karma;
$sans: $rubik;

/* colors */
$white: #FFF;
$black: #000;

$gray: #A3A3A3;
$grayDark: #313131;
$grayMid: #515151;
$grayLight: #C4C4C4;
$grayLightest: #E8E8E8;

$green: #61B64B;
$greenDark: #448234;
$greenMid: #93cc84;
$greenLight: #ACD8A0;
$greenLightest: #ECF6E9;

$red: #B64B4E;
$redDark: #823437;
$redMid: #C97C7F;
$redLight: #DBA7A9;
$redLightest: #F0DADB;

/* widths */
$max-width: 1400px;

/* space */
$space: 1rem;
$space-double: 2rem;
$space-triple: 3rem;
$space-quadruple: 4rem;
$space-quintuple: 5rem;
$space-sextuple: 6rem;

$space-one-half: 0.5rem;
$space-one-third: 0.33rem;
