/* Type */
$karma: 'Karma', georgia, serif;
$rubik: 'Rubik', helvetica, arial, sans-serif;

$serif: $karma;
$sans: $rubik;

/* colors */
$white: #fff;
$black: #000;

$gray: #A3A3A3;
$grayMid: #515151;
$grayLight: #E8E8E8;
$grayDark: #313131;

$green: #61B64B;
$greenDark: #448234;
$greenLight: #ACD8A0;

$red: #B64B4E;
$redDark: #823437;
$redLight: #DBA7A9;

/* space */
$space: 1rem;
$space-double: 2rem;
$space-triple: 3rem;
$space-quadruple: 4rem;
$space-quintuple: 5rem;
$space-sextuple: 6rem;

$space-one-half: 0.5rem;
$space-one-third: 0.33rem;
