@import "_vars.css";

html, body, div, h1, h2, h3, p, a, abbr, ol, ul, li, table, caption, thead, tbody, tr, th, td, section, code {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: $grayMid;
}

h1, h2, h3 {
  display: block;
  font-weight: bold;
  font-family: $sans;
}

h1, h2 {
  letter-spacing: 1px;
}

h1 {
  color: $grayDark;
  font-size: 4rem;
}
h1.title__main {
  font-family: $serif;
  padding: 16px 64px;
  background-color: $white;
}

h2 {
  margin: 1em 0 0.5em;
  font-size: 2rem;
  text-transform: uppercase;
}

p, ol, ul {
  margin-bottom: $space-one-half;
  font-size: 1.1rem;
}

ol, ul {
  margin-left: $space;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: circle;
}

.wrapper {
  display: flex;
}

.header {
  background-color: $grayLight;
  height: 100%;
  left: -300px;
  padding: $space 0;
  position: fixed;
  width: 300px;
  transition: .3s all;
  z-index: 2;
}

.header--active {
  left: 0;
}

@media (min-width: 1000px) {
  .header {
    height: auto;
    left: 0;
    position: relative;
    width: 25%;
  }
}

.content {
  clear: both;
  width: 100%;
}

@media (min-width: 1000px) {
  .content {
    clear: both;
    width: 75%;
  }
}

@media (min-width: 1000px) {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
  }
}

.menu, .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__link {
  background-color: $grayLight;
  border-bottom: 1px solid;
  color: $grayMid;
  display: block;
  font-size: 1rem;
  padding: $space;

  &:hover {
    background-color: darken($grayLight 20%);
  }
}

.menu__link--active {
  background-color: $white;
}

a {
  color: #378bb2;
  text-decoration: none;
  cursor: pointer;
}

code {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: $space-one-third $space-one-half 0;
  border-radius: 3px;
  background-color: #e5dfd6;
  font-family: Consolas, Monaco, Menlo, "Lucida Console", monospace;
  font-size: 1rem;
}

svg {
  margin: $space 0;
  page-break-inside: avoid;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.mobile-menu {
  font-size: 1.2rem;
  color: $grayMid;
  background-color: $white;
  padding: $space-one-half $space;
  position: absolute;
  top: 120px;
  right: 8%;
}

@media (min-width: 1000px) {
  .mobile-menu {
    height: 0;
    visibility:hidden;
  }
}
/*
* charts
*/
.britechart-test {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.britechart-test--active {
  height: auto;
  visibility: visible;
}

.britechart-test__header {
  color: $gray;
  background-color: $white;
  margin-top: 0;
  padding: $space $space-quadruple;
  border-bottom: 1px solid $grayDark;
  font-weight: normal;
  text-transform: none;
  font-size: 2.2rem;
}

.chart {
  align-items: center;
  overflow: hidden;
  padding: $space-quadruple;
  position: relative;
}

.chart + .chart {
  border-top: 1px dotted $grayLight;
  margin-top: $space-triple;
}

.chart::before {
  color: $green;
  content: "✓";
  display: block;
  font-size: 4rem;
  line-height: 1;
  font-family: $sans;
  opacity: .45;
  position: absolute;
  top: 16px;
  left: 64px;
}

.over-budget {
  &::before {
    content: "X";
    color: $red;
  }
  &::after {
    background: rgba(182,75,78,0.09);
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(45deg);
    transform-origin: 100%;
    z-index: -1;
  }
}
@media only screen and (min-width : 980px) {
  .chart {
    display: flex;
  }
  .chart__meta, .chart__data {
    flex: 0 1 50%;
  }

  .chart__meta {
    padding-right: $space;
  }
}

.chart__description {
  margin: $space 0;
  padding-bottom: $space-double;
  border-bottom: 1px solid $grayLight;
}
.chart__stats {
  font-size: 1rem;
  font-weight: bold;
  margin-right: $space;
}

.chart__stats span {
  font-weight: normal;
}

span.chart__passed {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.chart__data {
  position: relative;
}

.chart__label {
  bottom: $space;
  color: #8f8f8f;
  display: block;
  font-size: 1rem;
  text-align: center;
}

.chart__barchart {
  padding: $space-one-half 0;
}

/* Single Data Ones */
.chart--bytes::before,
.chart--requests::before,
.chart--connections::before {
  display: none;
}

.chart--bytes .chart__data,
.chart--bytes .chart__stats,
.chart--requests .chart__data,
.chart--requests .chart__stats,
.chart--connections .chart__data,
.chart--connections .chart__stats {
  display: none;
}

.chart--bytes .chart__stats:nth-child(2n),
.chart--requests .chart__stats:nth-child(2n),
.chart--connections .chart__stats:nth-child(2n) {
  display: block;
  font-size: 1.3rem;
}

.chart--bytes .chart__stats:nth-child(2n)::after,
.chart--requests .chart__stats:nth-child(2n)::after,
.chart--connections .chart__stats:nth-child(2n)::after {
  font-size: 1.1rem;
  font-weight: normal;
}

.chart--bytes .chart__stats:nth-child(2n)::after {
  content: " bytes";
}

.chart--requests .chart__stats:nth-child(2n)::after {
  content: " requests";
}

.chart--connections .chart__stats:nth-child(2n)::after {
  content: " connections";
}
