@import "_vars.css";

html, body, div, h1, h2, h3, p, a, abbr, ol, ul, li, table, caption, thead, tbody, tr, th, td, section, code {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: $grayMid;
}

h1, h2, h3 {
  display: block;
  font-weight: bold;
  font-family: $sans;
}

h1 {
  color: $grayDark;
  font-size: 4rem;
}
h1.title__main {
  font-family: $serif;
}

h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

p, ol, ul {
  margin-bottom: $space-one-half;
  font-size: 1.1rem;
}

ol, ul {
  margin-left: $space;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: circle;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.header {
  display: flex;
  background-color: $grayLight;
  height: $space-quintuple;
  top: -$space-sextuple;
  padding: $space-one-half $space-quadruple;
  position: fixed;
  width: 100%;
  transition: .3s all;
  z-index: 2;

  @media (min-width: 1000px) {
    top: 0;
    position: relative;
  }
}

.header--active {
  top: 0;
}

.content {
  clear: both;
  width: 100%;
}

.content__top {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.title__main {
  top: 0;
  padding: $space $space-quadruple;

  @media (max-width: 1000px) {
    position: relative;
    top:0;
    left: 0;
    background-color: $white;
    z-index: 1;
  }
}
.menu {
  display: flex;
  align-items: center;
  align-content: center;
}
.menu, .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__link {
  background-color: $grayLight;
  border-bottom: 1px solid $gray;
  color: $grayMid;
  display: block;
  font-size: 1rem;
  padding: $space;

  &:hover {
    background-color: $gray;
    color: $white;
  }
}

.menu__link--active {
  background-color: $gray;
  color: $white;
}

a {
  color: #378bb2;
  text-decoration: none;
  cursor: pointer;
}

code {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: $space-one-third $space-one-half 0;
  border-radius: 3px;
  background-color: #e5dfd6;
  font-family: Consolas, Monaco, Menlo, "Lucida Console", monospace;
  font-size: 1rem;
}

svg {
  margin: $space 0;
  page-break-inside: avoid;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.mobile-menu {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: $grayMid;
  background-color: $grayLight;
  padding: $space-one-half $space;
  z-index: 2;
}

@media (min-width: 1000px) {
  .mobile-menu {
    height: 0;
    visibility:hidden;
  }
}
/*
* charts
*/
.britechart-test {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.britechart-test--active {
  height: auto;
  visibility: visible;
}

.britechart-test__header {
  color: $grayMid;
  background-color: $white;
  margin-top: 0;
  padding: $space $space-quadruple;
  text-transform: none;
  font-size: 2rem;
  font-weight: normal;
  @media (min-width: 1000px) {
    display: none;
  }
}

.chart {
  align-items: center;
  overflow: hidden;
  padding: $space-quadruple;
  position: relative;
  background: rgba(97,182,75,0.09);

  &::after {
    position: absolute;
    display: block;
    content: '';
    height: 25%;
    width: 100%;
    background: rgba(97,182,75,0.3);
    top: 0;
    left: 0;
    right: 0;
    transform-origin: 0;
    z-index: -1;
  }
}

.chart__meta {
  background-color:rgba(255,255,255,0.8);
  padding: $space-double;

  &::before {
    position: absolute;
    display: block;
    top: $space-double;
    left: $space-quintuple;
    color: $green;
    content: '\2691';
    font-family: $sans;
    font-size: 4rem;
    line-height: 1;
  }
}

.chart--bytes,
.chart--requests,
.chart--connections {
  background: rgba(224,224,224,0.5);

  &::after {
    background: rgba(224,224,224,1);
  }

  .chart__meta {
    &::before {
      color: $grayMid;
    }
  }
}

.chart + .chart {
  border-top: 2px dotted $grayLight;
  margin-top: $space-triple;
}

.over-budget {
  background: rgba(182,75,78,0.15);

  &::after {
    background: rgba(182,75,78,0.3);
  }

  .chart__meta {
    &::before {
      content: '\2716';
      color: $red;
    }
  }
}

@media only screen and (min-width : 980px) {
  .chart {
    display: flex;
  }
  .chart__meta, .chart__data {
    flex: 1 1 50%;
  }
}

.chart__title {
  padding-top: $space;
}
.chart__description {
  margin: $space 0;
  padding-bottom: $space-double;
  border-bottom: 5px solid $grayLight;
}
.chart__stats {
  font-size: 1rem;
  font-weight: bold;
  margin-right: $space;
}

.chart__stats span {
  font-weight: normal;
}

span.chart__passed {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.chart__data {
  position: relative;
}

.chart__label {
  bottom: $space;
  color: $gray;
  display: block;
  font-size: 1rem;
  text-align: center;
}

.chart__barchart {
  padding: $space-one-half 0;
}

/* Single Data Ones */
.chart--bytes::before,
.chart--requests::before,
.chart--connections::before {
  display: none;
}

.chart--bytes .chart__data,
.chart--bytes .chart__stats,
.chart--requests .chart__data,
.chart--requests .chart__stats,
.chart--connections .chart__data,
.chart--connections .chart__stats {
  display: none;
}

.chart--bytes .chart__stats:nth-child(2n),
.chart--requests .chart__stats:nth-child(2n),
.chart--connections .chart__stats:nth-child(2n) {
  display: block;
  font-size: 1.3rem;
}

.chart--bytes .chart__stats:nth-child(2n)::after,
.chart--requests .chart__stats:nth-child(2n)::after,
.chart--connections .chart__stats:nth-child(2n)::after {
  font-size: 1.1rem;
  font-weight: normal;
}

.chart--bytes .chart__stats:nth-child(2n)::after {
  content: " bytes";
}

.chart--requests .chart__stats:nth-child(2n)::after {
  content: " requests";
}

.chart--connections .chart__stats:nth-child(2n)::after {
  content: " connections";
}
