@import "_vars.css";

* {
    box-sizing: border-box;
}

html, body, div, h1, h2, h3, p, a, abbr, ol, ul, li, table, caption, thead, tbody, tr, th, td, section, code {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: $grayMid;
}

h1, h2, h3 {
  display: block;
  font-weight: bold;
  font-family: $sans;
}

h1 {
  color: $grayDark;
  font-size: 4rem;

  &.title__main {
    font-family: $serif;
    line-height: 1.15;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
}

p, ol, ul {
  margin-bottom: $space-one-half;
  font-size: 1.1rem;
}

ol, ul {
  margin-left: $space;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: circle;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.header {
  display: flex;
  height: 0;
  transform: translateY(-100%);
  padding: 0 $space-quadruple;
  position: relative;
  width: 100%;
  transition: 0.5s all;
  align-items: flex-end;
  opacity: 0;

  &.header--active {
    height: auto;
    transform: translateY(0);
    opacity: 1;
  }

  @media (min-width: 600px) {
    height: auto;
    background-color: $grayLightest;
    position: relative;
    transform: translateY(0);
    opacity: 1;
  }
}

.title__element-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: $space-double $space-quadruple $space-triple;
}

.title__bg {
  display: block;
  position: absolute;
  bottom: 0;
  left: -$space-quadruple;
  width: calc(100% + $space-quintuple);
  height: 80%;
  background: linear-gradient(0deg, $grayLightest 80%, rgba(255, 255, 255,0) 80%);
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}

.title__content {
  display: block;
  position: relative;
  z-index: 1;
}

.title__main:hover .title__bg {
  background: linear-gradient(0deg, $grayLightest 100%, rgba(255, 255, 255,0) 100%);
  height: 100%;
}
.title__main {
  flex: 0 auto;
  padding-top: $space;
  position: relative;
}

.content__wrap {
  margin-top: $space-triple;
}
.content {
  clear: both;
  width: 100%;
  padding-bottom: $space-quadruple;
}

.content__top {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(0deg, $grayLightest 40%, rgba(255, 255, 255,0) 40%);
  background-image: url(../../images/backgrounds/hatch-sift-pattern.png);
  z-index: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $max-width;
}

/* menu bar */
.menu {
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;

  @media (min-width: 600px) {
    flex-flow: row wrap;
  }

  li {
    width: 100%;

    @media (min-width: 600px) {
      width: auto;
    }
  }
}
.menu, .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu {
  li + li {
    @media (max-width: 600px) {
      border-top: 1px solid $grayLight;
    }
  }
}

.menu__link {
  color: $grayMid;
  display: block;
  font-size: 1rem;
  padding: $space $space $space $space-double;

  @media (min-width: 600px) {
    background-color: $grayLightest;
    padding: $space-one-half $space $space-one-half $space-double;

    &:hover {
      background-color: $gray;
      color: $white;
      border-color: $gray;
    }
  }
}
.menu__link--active {
  background-image: url(../../images/icons/check_box.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 50%;
  color: $black;
}

@media (min-width: 600px) {
  .menu__link--active {
    background-color: $white;
    color: $black;
    border-bottom-color: $white;
    background-position: 4% 50%;
  }
}

/* element styles */

a {
  color: #378bb2;
  text-decoration: none;
  cursor: pointer;
}

code {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: $space-one-third $space-one-half 0;
  border-radius: 3px;
  background-color: #e5dfd6;
  font-family: Consolas, Monaco, Menlo, "Lucida Console", monospace;
  font-size: 1rem;
}

svg {
  margin: $space 0;
  page-break-inside: avoid;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

/* mobile menu */
.mobile-menu {
  flex: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  color: $grayMid;
  text-transform: uppercase;
  background-color: $grayLightest;
  padding: $space $space-double $space $space-triple;
  text-align: center;
  background-image: url(../../images/icons/control_point.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15% 50%;
  border: 2px solid transparent;

  &.mobile-menu--active {
    background-color: $white;
    color: $black;
    border-color: $black;
    background-image: url(../../images/icons/remove_circle.svg);
  }
}

@media (min-width: 600px) {
  .mobile-menu {
    height: 0;
    visibility:hidden;
    padding: 0;
  }
}
/*
* charts
*/
.britechart-test {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.britechart-test--active {
  height: auto;
  visibility: visible;
}

.britechart-test__header {
  color: $grayMid;
  background-color: $white;
  margin-top: 0;
  padding: $space $space-quadruple;
  text-transform: none;
  font-size: 1.6rem;
  font-weight: normal;
  @media (min-width: 600px) {
    display: none;
  }
}

/* charts */
.chart {
  align-items: center;
  overflow: hidden;
  padding: $space-quadruple;
  position: relative;
  background: linear-gradient(0deg, $greenLightest 75%, $greenLight 75%);
}

.chart__meta {
  background:rgba(255,255,255,0.9);
  position: relative;

  &::before {
    position: absolute;
    display: block;
    top: $space-double;
    left: $space-double;
    color: $green;
    content: '';
    font-family: $sans;
    background-image: url(../../images/icons/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    z-index: 0;
  }
}


/* chart backgrounds */
.chart--bytes,
.chart--requests,
.chart--connections {
  background: linear-gradient(0deg, $grayLightest 75%, $grayLight 75%);
}

.chart--bytes .chart__meta {
  &::before {
    background-image: url(../../images/icons/pie_chart.svg);
  }
}

.chart--requests .chart__meta {
  &::before {
    background-image: url(../../images/icons/person_pin_circle.svg);
  }
}

.chart--connections .chart__meta {
  &::before {
    background-image: url(../../images/icons/public.svg);
  }
}

.chart + .chart {
  margin-top: $space-triple;
}

.over-budget {
  background: linear-gradient(0deg, $redLightest 75%, $redLight 75%);

  .chart__meta {
    &::before {
      background-image: url(../../images/icons/report.svg);
    }
  }
}

.chart__title {
  color: $grayMid;
  padding: $space-double $space $space $space-quintuple;
}
.chart__description {
  padding: $space $space-double;
}
.chart__stats-wrap {
  border-top: 1px solid $gray;
  padding: $space $space-double;
}
.chart__stats {
  font-size: 1rem;
  font-weight: bold;
  margin-right: $space;
  color: $grayMid;
}

.chart__stats span {
  font-weight: normal;
}

span.chart__passed {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.chart__data {
  position: relative;
}

.chart__label {
  bottom: $space;
  color: $gray;
  display: block;
  font-size: 1rem;
  text-align: center;
}

.chart__barchart {
  padding: $space-one-half 0;
}

/* Single Data Ones */
.chart--bytes::before,
.chart--requests::before,
.chart--connections::before {
  display: none;
}

.chart--bytes .chart__data,
.chart--bytes .chart__stats,
.chart--requests .chart__data,
.chart--requests .chart__stats,
.chart--connections .chart__data,
.chart--connections .chart__stats {
  display: none;
}

.chart--bytes .chart__stats:nth-child(2n),
.chart--requests .chart__stats:nth-child(2n),
.chart--connections .chart__stats:nth-child(2n) {
  display: block;
}

.chart--bytes .chart__stats:nth-child(2n)::after,
.chart--requests .chart__stats:nth-child(2n)::after,
.chart--connections .chart__stats:nth-child(2n)::after {
  font-weight: normal;
}

.chart--bytes .chart__stats:nth-child(2n)::after {
  content: " bytes";
}

.chart--requests .chart__stats:nth-child(2n)::after {
  content: " requests";
}

.chart--connections .chart__stats:nth-child(2n)::after {
  content: " connections";
}

/* chart responsive layout */

@media only screen and (min-width : 980px) {
  .chart {
    display: flex;
  }
  .chart__meta, .chart__data {
    flex: 1 1 50%;
  }
}
