html, body, div, h1, h2, h3, p, a, abbr, ol, ul, li, table, caption, thead, tbody, tr, th, td, section, code {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

html {
  font-size: 100.01%;
}

body {
  background: #1FA2FF;
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  font-family: helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  display: block;
  font-weight: bold;
}

h1, h2 {
  letter-spacing: 1px;
}

h1 {
  color: #313131;
  font: 13.2em 'Poiret One', cursive;
  padding: 64px;
}

h2 {
  margin: 1em 0 0.5em;
  font: 2.8em 'Arimo', sans-serif;
  text-transform: uppercase;
}

p, ol, ul {
  margin-bottom: 1.4em;
  font-size: 1.6em;
}

ol, ul {
  margin-left: 3em;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: circle;
}

.menu, .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.menu a {
  margin-right: 21px;
  background-color: #000;
  padding: .5em 1em;
  color: #fff;
}

ul.menu a:hover {
  background-color: #2f2f2f;
}

a {
  color: #378bb2;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active {
  color: #b22e40;
}

code {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.15em 0.25em 0 0.25em;
  border-radius: 3px;
  background-color: #e5dfd6;
  font-family: Consolas, Monaco, Menlo, "Lucida Console", monospace;
  font-size: 1em;
}

svg {
  margin: 1.2em 0;
  page-break-inside: avoid;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

/*
* charts
*/

.chart {
  align-items: center;
  overflow: hidden;
  padding: 5em 7em;
  position: relative;
}

.chart::before {
  color: #fff;
  content: "✓";
  display: block;
  font: 63em/.59 'Source Code Pro', monospace;
  opacity: .25;
  position: absolute;
  top: 0;
  right: 0;
}

.over-budget:before {
  content: "X";
}

.chart:nth-child(2n+1) {
  background-color: rgba(253, 252, 252, 0.59);
}

.over-budget:nth-child(1n) {
  background-color: rgba(251, 165, 165, 0.65);
}

@media only screen and (min-width : 980px) {
  .chart {
    display: flex;
  }
  .chart__meta, .chart__data {
    flex: 0 1 50%;
  }

  .chart__meta {
    padding-right: 6em;
  }
}

.chart__stats {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 1em;
}

.chart__stats span {
  font-weight: normal;
}

.chart__passed {
  font-weight: bold;
  text-transform: uppercase;
}

.chart__data {
  position: relative;
}

.chart__label {
  bottom: 2em;
  color: #8f8f8f;
  display: block;
  font-size: 1.4em;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  text-align: center;
}

.chart__barchart {
  padding: 3em 0 3.5em;
}
